@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    margin: 0;
    font-family: 'Lato';
}

header {
    background: #333;
    color: #fff;
    padding: 20px 80px;
    display: flex;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; ** */
    /* justify-content: space-between; ** */
    justify-content: space-around;
}

a {
    color: #fff;
    text-decoration: none;
}
/* 
.logo {
    float: left;
}

.menu {
    float: right;
} */

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    /* margin: 15px; */
    margin: 0 15px;
}

.item {
    /* width: 100px; */
    width: 33.33333%;
    height: 100px;
    background: #f85123;
    color: #fff;
    /* display: none; */
    /* display: inline; */
    /* display: inline-block; */
    float: left;
}

span {
    display: block;
}
/*
- Display 
none
inline
block
inline-block
flex
*/


.clear {
    clear: both;
}

.big {
    width: 500px;
    height: 400px;
    background: #524398;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.small {
    width: 30px;
    height: 40px;
    background: #9872aa;
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -47.5px; */
}

.container {
    /* width: 80%; */
    width: 820px;
    margin: 0 auto;
}